<div class="wrapper_book">
    <div class="book">
        <img src="{{ book.imagePath }}" alt="{{ book.name }}" class="book_img">
        <h6 class="book_name">{{ book.name }}</h6>
        <p class="book_author">{{ book.author }}</p>
    </div>
</div>