<div class="container">
    <div class="row">
        <header class="header">
            {% block header %}
                <h4>BooksLibrary</h4>
            {% endblock %}
        </header>
    </div>
</div>

